<?xml version="1.0"?>
<launch>
  <node name="pub" pkg="py_tests" type="pub.py" />
  <node name="sub1" pkg="py_tests" type="sub.py" />
  <node name="sub2" pkg="py_tests" type="sub.py" />
  <node name="sub3" pkg="py_tests" type="sub.py" />
  <node name="sub4" pkg="py_tests" type="sub.py" />
  <node name="sub5" pkg="py_tests" type="sub.py" />
</launch>
